

body{
    font-family: 'Poppins', sans-serif;
}

/* Nav bar */
.form-control{
  margin-right: 5px;
}

.parallex{
  background:url(./images/Slider/ecommerce.jpg) no-repeat ;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.parallex h1{
  font-size: 60px;
  font-weight: 600;
  color: red;
}
.parallex p{
  font-size: 20px;
  text-align: justify;
  line-height: 1.3;
}
.carousel-caption{
    position: absolute;
    top: 50%;
    transform: translateY(-80%);
    left: 5%;
}
.carousel-caption h4{
    font-size: 30px;
    font-weight: 800;
    color: rgb(156, 58, 236);
}
.carousel-caption h1{
    color: black;
    font-weight: 900;
}
.btn0{
    color:white;
    height: 45px;
    width: 150px;
    background-color: red;
    border: none;
    outline: none;
    position: absolute;
    top: 50%;
    left: 50%;
}
.btn0:hover{
    background: black;
}
.sub{
    background: rgb(114, 111, 111);
}
.sub input{
    height: 45px;
    width: 60%;
    color: black;
    outline:none;
    padding: 10px;
}
.btn1{
height: 45px;
width: 40%;
color: white;
background-color: yellowgreen;
outline: none;
border: none;
margin-left: -2px;
}
.btn1:hover{
    background-color: black;
    color: white;
}
.fas{
    font-size: 25px;
}
/*FOOTER*/

footer {
    background: #16222A;
    background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
    background: linear-gradient(59deg, #3A6073, #16222A);
    color: white;
    margin-top:100px;
  }
  
  footer a {
    color: #fff;
    font-size: 14px;
    transition-duration: 0.2s;
  }
  
  footer a:hover {
    color: #FA944B;
    text-decoration: none;
  }
  
  .copy {
    font-size: 12px;
    padding: 10px;
    border-top: 1px solid #FFFFFF;
  }
  
  .footer-middle {
    padding-top: 2em;
    color: white;
  }
  
  

  
  /* footer social icons */
  
  ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
    text-align: center;
  }
  
  ul.social-network li {
    display: inline;
    margin: 0 5px;
  }
  
/*Contact sectiom*/
.content-header{
  font-family: 'Oleo Script', cursive;
  color:#fcc500;
  font-size: 45px;
}

.section-content{
  text-align: center; 

}
#contact{
    
  font-family: 'Teko', sans-serif;
  padding-top: 60px;
  width: 100%;
  width: 100vw;
  height: 700px;
  background: #3a6186; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #3a6186 , #89253e); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #3a6186 , #89253e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color : #fff;    
}
.contact-section{
  padding-top: 30px;
}
.contact-section .col-md-6{
  width: 40%;
}

.form-line{
  border-right: 1px solid #B29999;
}

.form-group{
  margin-top: 10px;
}
label{
  font-size: 1.3em;
  line-height: 1em;
  font-weight: normal;
}
.form-control{
  font-size: 1.3em;
  color: #080808;
}


/* payment contro section */


/*--------------------*/

  
  /* footer social icons */
  
  .social-network a.icoFacebook:hover {
    background-color: #3B5998;
  }
  
  .social-network a.icoLinkedin:hover {
    background-color: #007bb7;
  }
  
  .social-network a.icoFacebook:hover i,
  .social-network a.icoLinkedin:hover i {
    color: #fff;
  }
  
  .social-network a.socialIcon:hover,
  .socialHoverClass {
    color: #44BCDD;
  }
  
  .social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
  }
  
  .social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
  }
  
  .social-circle li a:hover i,
  .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
  }
  
  .social-circle i {
    color: #595959;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
  }
  
  .social-network a {
    background-color: #F9F9F9;
  }
  